body {
    padding: 0;
    margin: 0;
}

button,
img,
a,
div,
span,
ul,
li,
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img,
li,
nav,
ul {
    width: 100%;
    height: 100%;
}

li {
    font-size: 30px;
    font-family: 'ani';
    display: flex;
    justify-content: center;
    align-items: center;
}

select,
input,
button,
a {
    cursor: pointer;
}